.storage {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  align-items: center;
  background: #ebecf0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.storage::-webkit-scrollbar {
  width: 20px;
}

.storage::-webkit-scrollbar-track {
  padding: 10px;
  height: 5px;
  width: 10px;
}

.storage::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #0067a3;
  width: 10px;
}

.storage::-webkit-scrollbar-thumb:hover {
  opacity: 0.7;
}

.storage__item {
  white-space: nowrap;
  min-width: 120px;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
}

.storage__item:hover {
  opacity: 0.7;
}

.storage__item__img {
  width: 20px;
  height: 20px;
  margin: 10px 0;
}

.storage__item__add-btn {
  min-width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid black;
  font-size: 20px;
  margin-left: 15px;
}

.storage__item__add-btn:hover {
  opacity: 0.7;
}

.storage__item__title {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}
