.accounting {
  background-color: #0079bf;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 32px;
  min-height: 95vh;
}

.accounting-holder {
  display: flex;
  justify-content: space-between;
}

.accounting-left {
  width: 49%;
  overflow: hidden;
}

.accounting-right {
  min-height: 100%;
  width: 49%;
  display: flex;
  flex-direction: column;
  background: #ebecf0;
  border-radius: 10px;
  padding: 20px;
}

.accounting-right__title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.accounting-right__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 1s;
}

.accounting-right__info > p:first-child:hover {
  opacity: 0.7;
  cursor: pointer;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ebecf0;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.stats__bold {
  font-weight: bold;
  margin-right: 10px;
}

.stats__item {
  display: flex;
  align-items: center;
}

.stats__red {
  color: red;
}

.stats__green {
  color: green;
}
