.header {
    background-color: #0067A3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 20px;
    height: 8vh;
}

.header__title {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    color: #fff;
}

.header__profile {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
}

.profile__photo {
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}