.task {
  background: #ffffff;
  border-radius: 5px;
  margin-top: 15px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s;
}

.task:hover {
  cursor: pointer;
  opacity: 0.7;
}

.task__delete {
  width: 16px;
  height: 16px;
}

.task__delete:hover {
  transform: scale(1.1);
}
