.task {
  background: #ffffff;
  border-radius: 5px;
  margin-top: 15px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.task__delete {
  width: 16px;
  height: 16px;
}

.task__delete:hover {
  transform: scale(1.1);
}
